<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="jobportal.css">
    <script src="jobportal.js"></script>
</head>
<body>
<center>
    <form>
        <div class="about-us">
            <h2>About Us</h2>
            <p>Our job portal is dedicated to connecting job seekers with their dream jobs and helping employers find the right talent for their organizations.</p>
            <p>With a user-friendly interface and powerful search tools, our platform makes it easy to find the perfect job or candidate.</p>
            <h3>Our Team</h3>
            <ul>
                <li> Annick - CEO</li>
                <li>Jane Doe - Head of Operations</li>
                <li>Mark Johnson - Marketing Manager</li>
            </ul>
            <h3>Contact Us</h3>
            <ul>
                <li>Email: info@jobportal.com</li>
                <li>Phone: +250 780012936 </li>
                <li>Address: 123 Main St, Suite 100, Kigali city</li>
            </ul>
        </div>
    </form>
</center>
</body>
</html>