<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us </title>
    <link rel="stylesheet" type="text/css" href="jobportal.css">
    <script src="jobportal.js"></script>
</head>
<body>
<center>
    <form>
        <div class="contact-us">
            <h2>Contact Us</h2>
            <br/><br>
            <form action="submit-form.php" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <br/><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br/><br>
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>
                <br/><br>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="3" required></textarea>


            </form>
            <br/><br>
            <p>Alternatively, you can reach us at:</p>
            <ul>
                <li>Email: info@jobportal.com</li>
                <li>Phone: +250 780012936</li>
                <li>Address: 123 Main St, Suite 100, Kigali city</li>
            </ul>
        </div>
        <br/><br>
        <button type="submit">Submit</button>
    </form>
</center>
</body>
</html>