<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login_Form</title>
    <link rel="stylesheet" type="text/css" href="jobportal.css">
    <script src="jobportal.js"></script>
</head>
<body>
<center>
<form>
    <h1>Login to Job Portal</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br/><br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br/><br/>
    <button type="submit"><a href="Jobs.html"> Login </a></button>

</form>
</center>
</body>
</html>